color_gray_1 = #d1d1d1
color_gray_2 = #a0a0a0
color_gray_3 = #505050
color_gray_4 = #989898

color_white_1 = #fff

color_black_1 = #3d3d3d

@font-face {
  font-family: "RobotoLight";
  src: url("~style/fonts/Roboto-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "RobotoMedium";
  src: url("~style/fonts/Roboto-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}